<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>Applications: <%= controller.action_name %></title>
    <%= javascript_include_tag :defaults %>
    <%= active_scaffold_includes %>

    <%= stylesheet_link_tag 'application' %>
  </head>
  <body>

    <div id="banner" >
      <h1>PostRails</h1>
    </div>

    <div id="mainnavi" >
      <ul>
        <li><%= link_to_unless_current "Databases", databases_path %></li>
        <li>| <%= link_to_unless_current "Users", users_path %></li>
        <li>| <%= link_to_unless_current "Applications", applications_path %></li>
      </ul>
    </div>

    <div id="left">
      <%= select("database", "name",
        Database.all.collect(&:name),
        { :include_blank => "-- Database --" },
        :onchange => "window.location.href = '/applications?database_name=' + encodeURIComponent(value)") %>
      <div id="schema_select">
        <%= render :partial => '/applications/schema_select' %>
      </div>
    </div>

    <div id="content">
      <%= yield %>

      <div id="command_output">
      </div>
    </div>

    <div id="footer">
      Pirmin Kalberer, #breakpoint
    </div>

  </body>
</html>
